<div class="p15">
    <div class="md-title">Settings</div>
    <div class="md-heading">Manage your Account Settings</div>
</div>
<md-divider></md-divider>
<md-content class="md-padding">
    <md-subheader>
        Emails Settings for Personal Email Id
    </md-subheader>
    <md-content class="md-padding">
        <md-switch class="md-primary" ng-model="accountMailer">Settings Mailers</md-switch>
        <md-switch class="md-primary" ng-model="passReset">Password Reset</md-switch>
        <md-switch class="md-primary" ng-model="statusNotify">Status Notifications</md-switch>
    </md-content>
</md-content>